services:
  bot:
    build: .
    env_file:
      - ./.env
    volumes:
      - ./data/pdf:/data/pdf       # your PDF folder
      - ./faiss_index:/faiss_index  # â† and here
    ports:
      - '8501:8501'